@font-face {
    font-family: 'GillSans';
    src: url(../css/fonts/GillSans.otf) format("opentype");
}

@font-face {
    font-family: 'Proxima';
    src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf) format("truetype");
}

@font-face {
    font-family: 'GillSans-ital';
    src: url(../css/fonts/GillSansItalic.otf) format("opentype");
}

@font-face {
    font-family: 'GillSans-L';
    src: url(../css/fonts/GillSansLight.otf) format("opentype");
}
