
// site structure variables
$site-width: 1280px;
$hero-height: 500px;
$nav-width: 980px;
$nav-height: 90px;

//site colors
$site-white: #FFFFFF;
$site-blue: #79addc;
$site-black: #000000;
$site-orange: #FF7D38;

// tour banners
$tour-box-height: 304px;
$tour-box-width: 236px;

//button widths


//fonts
$GillSans: 'GillSans', sans-serif;
$GillSans-Ital: 'GillSans-ital', sans-serif;
$GillSans-L: 'GillSans-L', sans-serif;
$Proxima: 'Proxima', sans-serif;